@model IEnumerable<WebApplication1.Models.Supplier>

@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "_AdminLayout";
}

<h2>Suppliers</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifecationState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         <tr id="TR_@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifecationState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
                 <td>
                    <a class="btn btn-primary mx-2" asp-action="SupplierEdit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-primary" onclick="Delete(@item.ID)">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>



@section Scripts
    {
    <script>
        function Delete(supplierid) {
            $.ajax({
                url: "/Role/SupplierDelete",
                data: { "id": supplierid },
                success: function (result) {
                    $(`#TR_${supplierid}`).remove()
                },
            });
        }
    </script>
}

